* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

header {
    height: 80px;
    width: 100%;
    background-color: darkred;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#logo {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

input {
    height: 35px;
    width: 331px;
    background: black;
    box-shadow: none;
    border: none;
    color: white;
    padding: 0px 10px;
    font-size: 23px;
}

input::placeholder {
    color: rgba(255, 255, 255, .9);
}

input:focus {
    outline: none;
}

.ricerca i {
    color: white;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

h3 {
    color: white;
    margin: 70px 0 0;
    text-align: center;
    font-size: 38px;
    display: none;
}

.film p, .serie p {
    color: rgba(255, 255, 255, 0.7);
    display: none;
    font-size: 28px;
    text-align: center;
    margin: 15px;
}

.film-container, .serie-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.card {
    background-color: black;
    color: white;
    margin: 15px;
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 370px;
    position: relative;
}

.card .img_wrap {
    position: absolute;
    height: 100%;
}

.card .img_wrap img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 1px;
    z-index: 99;
}

.card:hover .img_wrap img {
    transform: rotateY(180deg);
    opacity: 0.1;
    transition-duration: 0.6s;
}

.lingua {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lingua img {
    width: 25px;
    margin-left: 10px;
    border: none;
}

.lingua span {
    margin-left: 5px;
}

.fa-star {
    color: gold;
}

.hidden {
    display: none;
}

.overview {
    padding: 0 10px;
}
